    .overlay {
      height: 100%;
      width: 100%;
      z-index: 1;
      top: 0;
      left: 0;
    }

    .search-wrapper {
      position: relative;
      top: 46%;
      width: 80%;
      text-align: center;
      margin-top: 30px;
      margin: auto;
    }

    .overlay input[type=text] {
      padding: 15px;
      font-size: 17px;
      border: none;
      float: left;
      width: 80%;
      background: white;
      border: 1px solid rgba(0, 0, 0, 0.5);
    }

    .overlay button {
      float: left;
      width: 20%;
      padding: 15px;
      background: #ddd;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }

    .overlay .select-field {
      position: absolute;
      top: 50px;
      left: 0;
      width: 80%;
    }
    
    .optionClass, 
    .optionInactiveClass{
      padding: 14px 9px;
    }

    .optionClass:hover{
      background-color: #eef5ff;
      color: #000000;
      cursor: pointer;
    }